 <div class="row p-4 my-4 border rounded bg-light h-50 justify-content-between"
 style="background-color: #f5ffcd; color:#000">
        <div class="col-md-8">
            <h1 class="display-5 fst-italic">Explore the World of Natural Plants</h1>
            <p class="lead my-3">We dive deep into the fascinating World of Natural Plants. You will
                find a wealth of information about various plants species.
            </p>
            <p class="lead mb-0"><a href="/blogs" class="text-body-emphasis fw-blod"
            style="color: #000">Continue reading....</a></p>
        </div>
        <div class="col-md-4 align-self-center">
            <img src="/images/hero-img.jpg" class="img-fluid z-3 rounded" width="320" height="100%" 
            aria-hidden="true" preserveAspectRatio="xMidyMid slice" />
        </div>
    </div> 
@code {

}
